.header{
    width:100%;
    background-color: #f56e00;
    color: white;
    text-align: center;
    height: 60px;
    font-size: 90%;
    position: sticky;
    top:0;
}
.header ul{
    list-style-type: none;
}
#icon{
    border: 2px solid white;
    font-size: 90%;
    padding: 1%;

}
.list{
    display: flex;
    margin: auto;
    width: 70%;
    font-size: 150%;
    justify-content: space-between;
    /* margin-left: 12%; */
    height: 60px;
    align-items: center;
    /* border: 2px solid red ; */
}
.list li{
    color: white;
    text-decoration: none;
}
Link{
    text-decoration: none;
}
.list li:hover{
    cursor: pointer;
    background-color: orange;
    padding: 15px;
    border-bottom: 2px solid white;
}
